.home-page-wrapper{
    padding-top:20px;
    .btn-create-blog{
        max-width: 400px;
        margin-left: auto;
        margin-right: 0;
    }
    .content-wrapper{
        display : flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .pagination{
        display : flex;
        max-width: 400px;
        margin: auto;
    }

}
 